<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyToDo</title>
    <script src="js/vue.js"></script>
    <style>
        table,
        tr,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1>MyToDo</h1>
    <div id="intro">
        <!-- TASK -->
        <label for="txtTask">TASK:</label>
        <input id="txtTask" v-model="task">
        <!-- PERSONAL -->
        <input v-model="type" id="rdPersonal" type="radio" value="personal">
        <label for="rdPersonal">PERSONAL</label>
        <!-- PROFISSIONAL -->
        <input v-model="type" id="rdProfessional" type="radio" value="professional">
        <label for="rdProfessional">PROFESSIONAL</label>
        <br>
        <button v-on:click="addTask" v-bind:disabled="task.length==0">ADD TASK</button><br>

        <br>
        <span v-if="tasks.length==0">NO TASKS</span>
        <div v-else>
            <label for="sltFilter">FILTER: </label>
            <select id="sltFilter" v-model="filter">
                <option value="all">ALL</option>
                <option value="personal">PERSONAL</option>
                <option value="professional">PROFESSIONAL</option>
            </select>
            <table>
                <tr>
                    <th>#</th>
                    <th>TASK</th>
                    <th>TYPE</th>
                    <th>OPTIONS</th>
                </tr>
                <tr v-for="(task, index) in filteredTasks">
                    <td>{{task.id}}</td>
                    <td>{{task.name}}</td>
                    <td>{{task.type}}</td>
                    <td>
                        <button v-on:click="removeTask(task.id)">REMOVE</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <script src="js/vue-instance.js"></script>
</body>

</html>