<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyTravels</title>
    <script src="js/vue.js"></script>
    <style>
        table,
            tr,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
</head>

<body>
    <h1>MyTravels</h1>
    <div id="app">
        <form v-on:submit.prevent="addTravel">
        <!-- CONTINENT -->
        <label for="sltContinent">CONTINENTE:</label>
        <select id="sltContinent" v-model="continent">
            <option value="todos">TODOS</option>
            <option value="europa">EUROPA</option>
            <option value="africa">ÁFRICA</option>
            <option value="asia">ÁSIA</option>
            <option value="america">AMÉRICA</option>
            <option value="oceania">OCEANIA</option>
        </select>

        <!-- COUNTRY -->
        <label for="txtCountry">PAÍS:</label>
        <input id="txtCountry" type="text" v-model="country">
        <br><br>

        <!-- CITIES -->
        <label for="txtCities">CIDADES:</label>
        <input id="txtCities" type="text" v-model="cities" placeholder="please separate the cities with a comma">
        <br><br>
        <!-- DESCRIPTION -->
        <label for="txtDesc">DESCRIÇÃO:</label>
        <textarea id="txtDesc" v-model="description"></textarea>
        <br><br>
        <!-- START DATE -->
        <label for="txtStartDate">DATA DE PARTIDA:</label>
        <input id="txtStartDate" type="date" v-model="startDate">
        <br><br>
        <!-- END DATE -->
        <label for="txtEndDate">DATA DE REGRESSO:</label>
        <input id="txtEndDate" type="date" v-model="endDate">
        <br><br>
        <!-- TYPE -->
        <input v-model="type" id="rdHolidays" type="radio" value="holidays">
        <label for="rdHolidays">FÉRIAS</label>
        <input v-model="type" id="rdBusiness" type="radio" value="business">
        <label for="rdBusiness">NEGÓCIOS</label>
        <br><br>
        <!-- LINK -->
        <label for="txtPhoto">FOTO:</label>
        <input id="txtPhoto" type="url" v-model="photo">

        <br><br>
        <input type="submit" value="ADICIONAR VIAGEM"></input>
        <button>ENCONTRAR VIAGEM</button>
    </form>
        <br>

        <span v-if="this.travels.length===0">SEM VIAGENS REGISTADAS</span>
        <div v-else>
            <hr>
            <!-- FILTERS -->
            <!-- CONTINENT -->
            <label for="txtFilterContinent">CONTINENT:</label>
            <input id="txtFilterContinent" type="text" v-model.lazy="filterContinent">
            <!-- START DATE -->
            <label for="txtFilterStartDate">START DATE:</label>
            <input id="txtFilterStartDate" type="date" v-model.lazy="filterStartDate">
            <!-- END DATE -->
            <label for="txtFilterEndDate">END DATE:</label>
            <input id="txtFilterEndDate" type="date" v-model.lazy="filterEndDate">
            <hr>
            <span>LISTA DE VIAGENS</span>
            <button @click="orderByCountry">ORDENAR POR PAÍS</button>
            <button @click="orderByDate">ORDENAR POR DATA</button>
            <hr>
            <table>
                <tr>
                    <th>#</th>
                    <th>CONTINENTE</th>
                    <th>PAÍS</th>
                    <th>TIPO</th>
                    <th>AÇÕES</th>
                </tr>
                <tr v-for="travel in filteredTravels">
                    <td>{{travel.id}}</td>
                    <td>{{travel.continent}}</td>
                    <td>{{travel.country}}</td>
                    <td>{{travel.type}}</td>
                    <td>
                        <button v-on:click="editTravel(travel.id)">EDITAR</button>
                        <button v-on:click="removeTravel(travel.id)">REMOVER</button>

                    </td>
                </tr>
            </table>
        </div>


    </div>
    <script src="js/vue-instance.js"></script>
</body>

</html>